/*
 *
 */

stylingkit-config {
  enabled: true;

  parse-error-destination: console;
  //cache-styles: auto;
  cache-styles: auto; // minimize-styling cache-cells cache-images;
  image-cache-count: 400;
  image-cache-size: 20971520; // 20MB
}

/* Variables */
@import 'variables';

/* Base styles */
@import 'base';

/* Typography */
@import 'type';

/* Views and controls */
@import 'buttons';
@import 'collections';
@import 'forms';
@import 'icons';
@import 'tables';
@import 'custom';
