/*
 * Typography
 * --------------------------------
 */


/* Headings */

.h1, .h2, .h3,
.h4, .h5, .h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $heading-font-color;
}


.h1 {
    font-size: $font-size-extralarge;
}

.h2 {
    font-size: $font-size-superlarge;
}

.h3 {
    font-size: $font-size-large;
}

.h4 {
    font-size: $font-size-base;
}

.h5 {
    font-size: $font-size-small;
}

.h6 {
    font-size: $font-size-supersmall;
}


/* Paragraph */

.p {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

.p.small {
    font-size: $font-size-small;
    color: $gray-dark;
}


/* Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
